body{
    background-image: linear-gradient(45deg, rgb(25, 75, 97), rgb(43, 79, 95));

}
.tela-login {
    background-color: rgba(0, 0, 0, 0.438);
    width: 230px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: rgb(16, 39, 49);
    box-shadow: 30px 30px 20px;
}
input {  
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(43, 79, 95);
    color: aliceblue;
}
h1 {
    color: rgba(255, 238, 6, 0.849);
    font-family: "Gill Sans", sans-serif;
}
button {
    background-color: rgba(255, 238, 6, 0.849);
    padding: 15px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
}
button:hover{
    background-color: rgba(255, 238, 6, 0.651);
    cursor: pointer;
}
.voltar{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 2%;
}
.voltar:hover{
     scale: 1.05;
    color: #fff;
}
.voltar:active {
    scale: 0.95;
}